.idea

# Mac OS
.DS_Store

# Terraform Config
terraform/aws_config.json
terraform/aws_env.sh

# Terraform
*.tfstate
*.tfstate.*

.terraform.lock.hcl

.terraform/

terraform.tfvars
terraform.tfvars.json

*.tfstate.backup
*.tfvars.backup

terraform.log

*.tfplan
*.tfplan.json
